In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df_=pd.read_csv("flo_data_20k.csv")
df=df_.copy()

### Adım1: flo_data_20K.csv verisini okuyunuz.Dataframe’in kopyasını oluşturunuz.
### Adım2: Veri setinde
* a. İlk 10 gözlem,
* b. Değişken isimleri,
* c. Betimsel istatistik,
* d. Boş değer,
* e. Değişken tipleri, incelemesi yapınız.

In [3]:
df.head(10)

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN]
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]"
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]"
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]"
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR]
5,e585280e-aae1-11e9-a2fc-000d3a38a36f,Desktop,Offline,2018-11-18,2021-03-13,2018-11-18,2021-03-13,1.0,2.0,150.87,49.99,[KADIN]
6,c445e4ee-6242-11ea-9d1a-000d3a38a36f,Android App,Android App,2020-03-04,2020-10-18,2020-10-18,2020-03-04,3.0,1.0,59.99,315.94,[AKTIFSPOR]
7,3f1b4dc8-8a7d-11ea-8ec0-000d3a38a36f,Mobile,Offline,2020-05-15,2020-08-12,2020-05-15,2020-08-12,1.0,1.0,49.99,113.64,[COCUK]
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0,2.0,120.48,934.21,"[ERKEK, COCUK, KADIN]"
9,1143f032-440d-11ea-8b43-000d3a38a36f,Mobile,Mobile,2019-07-30,2020-10-04,2020-10-04,2019-07-30,1.0,1.0,69.98,95.98,"[KADIN, AKTIFSPOR]"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  object
 4   last_order_date                    19945 non-null  object
 5   last_order_date_online             19945 non-null  object
 6   last_order_date_offline            19945 non-null  object
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
dtypes: float64(4), object(8)
memory usage: 1.8+ MB

In [5]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
order_num_total_ever_online,19945.0,3.110855,4.225647,1.00,1.00,2.00,4.00,200.00
order_num_total_ever_offline,19945.0,1.913913,2.062880,1.00,1.00,1.00,2.00,109.00
customer_value_total_ever_offline,19945.0,253.922597,301.532853,10.00,99.99,179.98,319.97,18119.14
customer_value_total_ever_online,19945.0,497.321690,832.601886,12.99,149.98,286.46,578.44,45220.13

### Adım3: Omnichannel müşterilerin hem online'dan hemde offline platformlardan alışveriş yaptığını ifade etmektedir. Her bir müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturunuz.

In [7]:
df["total_order"]=df["order_num_total_ever_online"]+df["order_num_total_ever_offline"]
df["total_value"]=df["customer_value_total_ever_offline"]+df["customer_value_total_ever_online"]
df.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order,total_value
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98

### Adım4: Değişken tiplerini inceleyiniz. Tarih ifade eden değişkenlerin tipini date'e çeviriniz.

In [8]:
#df[["first_order_date", "last_order_date", "last_order_date_online","last_order_date_offline"]] = df[["first_order_date", "last_order_date", "last_order_date_online","last_order_date_offline"]].apply(pd.to_datetime)
date_columns = df.columns[df.columns.str.contains("date")]
df[date_columns] = df[date_columns].apply(pd.to_datetime)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19945 entries, 0 to 19944
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          19945 non-null  object
 1   order_channel                      19945 non-null  object
 2   last_order_channel                 19945 non-null  object
 3   first_order_date                   19945 non-null  datetime64[ns]
 4   last_order_date                    19945 non-null  datetime64[ns]
 5   last_order_date_online             19945 non-null  datetime64[ns]
 6   last_order_date_offline            19945 non-null  datetime64[ns]
 7   order_num_total_ever_online        19945 non-null  float64
 8   order_num_total_ever_offline       19945 non-null  float64
 9   customer_value_total_ever_offline  19945 non-null  float64
 10  customer_value_total_ever_online   19945 non-null  float64
 11  interested_in_categories_12        19945 non-null  object
 12  total_order                        19945 non-null  float64
 13  total_value                        19945 non-null  float64
dtypes: datetime64[ns](4), float64(6), object(4)
memory usage: 2.1+ MB

### Adım5: Alışveriş kanallarındaki müşteri sayısının, toplam alınan ürün sayısının ve toplam harcamaların dağılımına bakınız.

In [10]:
df.groupby("order_channel").agg({"master_id":"count",
                                "total_order":["sum","mean"],
                                "total_value":["sum","mean"]})

              master_id total_order           total_value
                  count         sum      mean         sum        mean
order_channel
Android App        9495     52269.0  5.504897  7819062.76  823.492655
Desktop            2735     10920.0  3.992687  1610321.46  588.782984
Ios App            2833     15351.0  5.418637  2525999.93  891.634285
Mobile             4882     21679.0  4.440598  3028183.16  620.275125

### Adım6: En fazla kazancı getiren ilk 10 müşteriyi sıralayınız.

In [11]:
df.groupby("master_id").agg({"total_value":"sum"}).sort_values(by="total_value",ascending=False).head(10)

                                      total_value
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f     45905.10
d5ef8058-a5c6-11e9-a2fc-000d3a38a36f     36818.29
73fd19aa-9e37-11e9-9897-000d3a38a36f     33918.10
7137a5c0-7aad-11ea-8f20-000d3a38a36f     31227.41
47a642fe-975b-11eb-8c2a-000d3a38a36f     20706.34
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f     18443.57
d696c654-2633-11ea-8e1c-000d3a38a36f     16918.57
fef57ffa-aae6-11e9-a2fc-000d3a38a36f     12726.10
cba59206-9dd1-11e9-9897-000d3a38a36f     12282.24
fc0ce7a4-9d87-11e9-9897-000d3a38a36f     12103.15

### Adım7: En fazla siparişi veren ilk 10 müşteriyi sıralayınız.

In [12]:
df.groupby("master_id").agg({"total_order":"sum"}).sort_values(by="total_order",ascending=False).head(10)

                                      total_order
master_id
5d1c466a-9cfd-11e9-9897-000d3a38a36f        202.0
cba59206-9dd1-11e9-9897-000d3a38a36f        131.0
a57f4302-b1a8-11e9-89fa-000d3a38a36f        111.0
fdbe8304-a7ab-11e9-a2fc-000d3a38a36f         88.0
329968c6-a0e2-11e9-a2fc-000d3a38a36f         83.0
73fd19aa-9e37-11e9-9897-000d3a38a36f         82.0
44d032ee-a0d4-11e9-a2fc-000d3a38a36f         77.0
b27e241a-a901-11e9-a2fc-000d3a38a36f         75.0
d696c654-2633-11ea-8e1c-000d3a38a36f         70.0
a4d534a2-5b1b-11eb-8dbd-000d3a38a36f         70.0

### Adım8: Veri ön hazırlık sürecini fonksiyonlaştırınız.

# Görev 2: RFM Metriklerinin Hesaplanması

In [13]:
df["last_order_date"].max()

Timestamp('2021-05-30 00:00:00')

In [14]:
df["last_order_date_offline"].max()

Timestamp('2021-05-28 00:00:00')

In [15]:
df[date_columns].max()

first_order_date          2021-05-27
last_order_date           2021-05-30
last_order_date_online    2021-05-30
last_order_date_offline   2021-05-28
dtype: datetime64[ns]

In [16]:
today_date=dt.datetime(2021,6,1)
type(today_date)

datetime.datetime

* Adım 2: Müşteri özelinde Recency, Frequency ve Monetary metriklerini hesaplayınız.
* Adım 3: Hesapladığınız metrikleri rfm isimli bir değişkene atayınız.
* Adım 4: Oluşturduğunuz metriklerin isimlerini recency, frequency ve monetary olarak değiştiriniz.

In [17]:
# df["recency"] = (today_date-df["last_order_date"])
# df["frequency"] = df["total_order"]
# df["monetary"] = df["total_value"]
# rfm = df[["master_id","recency","frequency","monetary"]]

In [18]:
# rfm.sort_values("master_id").head()

In [19]:

rfm=df.groupby("master_id").agg({"last_order_date":lambda x:(today_date-x.max()),
                             "total_order":lambda x:x.sum(),
                             "total_value":lambda x:x.sum()})

In [20]:
rfm.head()

                                     last_order_date  total_order  total_value
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f         10 days          5.0       776.07
00034aaa-a838-11e9-a2fc-000d3a38a36f        298 days          3.0       269.47
000be838-85df-11ea-a90b-000d3a38a36f        213 days          4.0       722.69
000c1fe2-a8b7-11ea-8479-000d3a38a36f         27 days          7.0       874.16
000f5e3e-9dde-11ea-80cd-000d3a38a36f         20 days          7.0      1620.33

In [21]:
rfm.columns=["recency","frequency","monetary"]

In [22]:
rfm.head()

                                      recency  frequency  monetary
master_id
00016786-2f5a-11ea-bb80-000d3a38a36f  10 days        5.0    776.07
00034aaa-a838-11e9-a2fc-000d3a38a36f 298 days        3.0    269.47
000be838-85df-11ea-a90b-000d3a38a36f 213 days        4.0    722.69
000c1fe2-a8b7-11ea-8479-000d3a38a36f  27 days        7.0    874.16
000f5e3e-9dde-11ea-80cd-000d3a38a36f  20 days        7.0   1620.33

In [23]:
rfm["recency_score"] = pd.qcut(rfm["recency"], 5, labels=[5, 4, 3, 2, 1])

rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])

rfm["monetary_score"] = pd.qcut(rfm["monetary"], 5, labels=[1, 2, 3, 4, 5])
rfm.head()

,recency,frequency,monetary,recency_score,frequency_score,monetary_score
master_id,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10 days,5.0,776.07,5,4,4
00034aaa-a838-11e9-a2fc-000d3a38a36f,298 days,3.0,269.47,1,2,1
000be838-85df-11ea-a90b-000d3a38a36f,213 days,4.0,722.69,2,3,4
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27 days,7.0,874.16,5,4,4
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20 days,7.0,1620.33,5,4,5

### Adım 3: recency_score ve frequency_score’u tek bir değişken olarak ifade ediniz ve RF_SCORE olarak kaydediniz.

In [24]:
rfm["RF_SCORE"]=rfm["recency_score"].astype(str)+rfm["frequency_score"].astype(str)
rfm.head()

,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE
master_id,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10 days,5.0,776.07,5,4,4,54
00034aaa-a838-11e9-a2fc-000d3a38a36f,298 days,3.0,269.47,1,2,1,12
000be838-85df-11ea-a90b-000d3a38a36f,213 days,4.0,722.69,2,3,4,23
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27 days,7.0,874.16,5,4,4,54
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20 days,7.0,1620.33,5,4,5,54

* Adım 1: Oluşturulan RF skorları için segment tanımlamaları yapınız.
* Adım 2: Aşağıdaki seg_map yardımı ile skorları segmentlere çeviriniz.

In [25]:
seg_map = {
    r"[1-2][1-2]": "hibernating",
    r"[1-2][3-4]": "at_risk",
    r"[1-2]5": "cant_loose",
    r"3[1-2]": "about_to_sleep",
    r"33": "need_attention",
    r"[3-4][4-5]": "loyal_customers",
    r"41": "promising",
    r"51": "new_customers",
    r"[4-5][2-3]": "potential_loyalists",
    r"5[4-5]": "champions"
}
rfm["segment"] = rfm["RF_SCORE"].replace(seg_map, regex=True)
rfm.head()

,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_SCORE,segment
master_id,,,,,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10 days,5.0,776.07,5,4,4,54,champions
00034aaa-a838-11e9-a2fc-000d3a38a36f,298 days,3.0,269.47,1,2,1,12,hibernating
000be838-85df-11ea-a90b-000d3a38a36f,213 days,4.0,722.69,2,3,4,23,at_risk
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27 days,7.0,874.16,5,4,4,54,champions
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20 days,7.0,1620.33,5,4,5,54,champions

# Görev 5: Aksiyon Zamanı !
* Adım1: Segmentlerin recency, frequnecy ve monetary ortalamalarını inceleyiniz.

In [26]:
rfm = rfm[["recency", "frequency", "monetary", "segment"]]
rfm.head()

,recency,frequency,monetary,segment
master_id,,,,
00016786-2f5a-11ea-bb80-000d3a38a36f,10 days,5.0,776.07,champions
00034aaa-a838-11e9-a2fc-000d3a38a36f,298 days,3.0,269.47,hibernating
000be838-85df-11ea-a90b-000d3a38a36f,213 days,4.0,722.69,at_risk
000c1fe2-a8b7-11ea-8479-000d3a38a36f,27 days,7.0,874.16,champions
000f5e3e-9dde-11ea-80cd-000d3a38a36f,20 days,7.0,1620.33,champions

In [27]:
rfm.groupby("segment").agg({"recency": "mean",
                            "frequency": "mean",
                            "monetary": "mean"})

                                        recency  frequency     monetary
segment
about_to_sleep      114 days 00:45:34.510042604   2.406573   361.649373
at_risk             242 days 07:53:45.380710660   4.470178   648.325038
cant_loose          235 days 03:49:08.743718592  10.716918  1481.652446
champions                      17 days 03:24:45   8.965104  1410.708938
hibernating         247 days 10:13:52.543884092   2.391474   362.583299
loyal_customers         82 days 13:23:24.800000   8.356444  1216.257224
need_attention      113 days 00:53:35.880893300   3.739454   553.436638
new_customers        17 days 23:25:45.913818722   2.000000   344.049495
potential_loyalists  36 days 20:52:25.846153846   3.310769   533.741344
promising            58 days 16:40:14.371257485   2.000000   334.153338

### Adım2: RFM analizi yardımıyla aşağıda verilen 2 case için ilgili profildeki müşterileri bulun ve müşteri id'lerini csv olarak kaydediniz.
* a. FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri
tercihlerinin üstünde. Bu nedenle markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak
iletişime geçmek isteniliyor. Sadık müşterilerinden(champions, loyal_customers) ve kadın kategorisinden alışveriş
yapan kişiler özel olarak iletişim kurulacak müşteriler. Bu müşterilerin id numaralarını csv dosyasına kaydediniz.

In [28]:
df_rfm=pd.merge(df,rfm,on="master_id")

In [29]:
df_rfm.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order,total_value,recency,frequency,monetary,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37,95 days,5.0,939.37,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55,105 days,21.0,2013.55,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,Android App,Android App,2019-11-27,2020-11-27,2020-11-27,2019-12-01,3.0,2.0,189.97,395.35,"[ERKEK, KADIN]",5.0,585.32,186 days,5.0,585.32,at_risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,Android App,Android App,2021-01-06,2021-01-17,2021-01-17,2021-01-06,1.0,1.0,39.99,81.98,"[AKTIFCOCUK, COCUK]",2.0,121.97,135 days,2.0,121.97,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,Desktop,Desktop,2019-08-03,2021-03-07,2021-03-07,2019-08-03,1.0,1.0,49.99,159.99,[AKTIFSPOR],2.0,209.98,86 days,2.0,209.98,about_to_sleep

In [30]:
df_newBrand=df_rfm.loc[((df_rfm["segment"]=="champions") | (df_rfm["segment"]=="loyal_customers")) &
 (df_rfm["interested_in_categories_12"].str.contains("KADIN"))]
df_newBrand.head()

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order,total_value,recency,frequency,monetary,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,Android App,Offline,2020-10-30,2021-02-26,2021-02-21,2021-02-26,4.0,1.0,139.99,799.38,[KADIN],5.0,939.37,95 days,5.0,939.37,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,Android App,Mobile,2017-02-08,2021-02-16,2021-02-16,2020-01-10,19.0,2.0,159.97,1853.58,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",21.0,2013.55,105 days,21.0,2013.55,loyal_customers
8,cfbda69e-5b4f-11ea-aca7-000d3a38a36f,Android App,Android App,2020-01-23,2021-03-07,2021-03-07,2020-01-25,3.0,2.0,120.48,934.21,"[ERKEK, COCUK, KADIN]",5.0,1054.69,86 days,5.0,1054.69,loyal_customers
11,c2e15af2-9eed-11e9-9897-000d3a38a36f,Android App,Android App,2015-07-05,2021-05-19,2021-05-19,2020-07-10,19.0,1.0,90.49,2771.11,"[COCUK, KADIN, AKTIFSPOR]",20.0,2861.60,13 days,20.0,2861.60,champions
33,fb840306-1219-11ea-a001-000d3a38a36f,Ios App,Ios App,2020-01-18,2021-02-05,2021-02-05,2020-01-18,7.0,1.0,89.99,833.65,"[ERKEK, KADIN, AKTIFSPOR]",8.0,923.64,116 days,8.0,923.64,loyal_customers

In [31]:
df_newBrand["segment"].value_counts()

loyal_customers    1591
champions           896
Name: segment, dtype: int64

In [32]:
df_newBrand["interested_in_categories_12"].value_counts()

[KADIN, AKTIFSPOR]                              411
[ERKEK, KADIN, AKTIFSPOR]                       353
[KADIN]                                         331
[ERKEK, KADIN]                                  209
[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]    169
[AKTIFCOCUK, COCUK, KADIN, AKTIFSPOR]           130
[ERKEK, COCUK, KADIN, AKTIFSPOR]                129
[COCUK, KADIN, AKTIFSPOR]                       120
[COCUK, KADIN]                                  119
[AKTIFCOCUK, COCUK, KADIN]                       96
[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]            83
[ERKEK, COCUK, KADIN]                            82
[AKTIFCOCUK, KADIN]                              82
[AKTIFCOCUK, KADIN, AKTIFSPOR]                   80
[AKTIFCOCUK, ERKEK, COCUK, KADIN]                60
[AKTIFCOCUK, ERKEK, KADIN]                       33
Name: interested_in_categories_12, dtype: int64

In [33]:
df_newBrand.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2487 entries, 0 to 19926
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          2487 non-null   object
 1   order_channel                      2487 non-null   object
 2   last_order_channel                 2487 non-null   object
 3   first_order_date                   2487 non-null   datetime64[ns]
 4   last_order_date                    2487 non-null   datetime64[ns]
 5   last_order_date_online             2487 non-null   datetime64[ns]
 6   last_order_date_offline            2487 non-null   datetime64[ns]
 7   order_num_total_ever_online        2487 non-null   float64
 8   order_num_total_ever_offline       2487 non-null   float64
 9   customer_value_total_ever_offline  2487 non-null   float64
 10  customer_value_total_ever_online   2487 non-null   float64
 11  interested_in_categories_12        2487 non-null   object
 12  total_order                        2487 non-null   float64
 13  total_value                        2487 non-null   float64
 14  recency                            2487 non-null   timedelta64[ns]
 15  frequency                          2487 non-null   float64
 16  monetary                           2487 non-null   float64
 17  segment                            2487 non-null   object
dtypes: datetime64[ns](4), float64(8), object(5), timedelta64[ns](1)
memory usage: 369.2+ KB

In [34]:
df_newBrand.to_csv("NewFemaleBrand.csv")

* b. Erkek ve Çocuk ürünlerinde %40'a yakın indirim planlanmaktadır. Bu indirimle ilgili kategorilerle ilgilenen geçmişte
iyi müşteri olan ama uzun süredir alışveriş yapmayan kaybedilmemesi gereken müşteriler, uykuda olanlar ve yeni
gelen müşteriler özel olarak hedef alınmak isteniyor. Uygun profildeki müşterilerin id'lerini csv dosyasına kaydediniz.

In [35]:
df_rfm["segment"].value_counts()

hibernating            3589
loyal_customers        3375
at_risk                3152
potential_loyalists    2925
champions              1920
about_to_sleep         1643
cant_loose             1194
need_attention          806
new_customers           673
promising               668
Name: segment, dtype: int64

In [36]:
df_new=df_rfm.loc[((df_rfm["segment"]=="hibernating") | (df_rfm["segment"]=="new_customers")| ((df_rfm["segment"]=="cant_loose"))) &
 (df_rfm["interested_in_categories_12"].str.contains("ERKEK")|(df_rfm["interested_in_categories_12"].str.contains("COCUK")))]

In [37]:
df_new["segment"].value_counts()

hibernating      1785
cant_loose        814
new_customers     171
Name: segment, dtype: int64

In [38]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2770 entries, 7 to 19940
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   master_id                          2770 non-null   object
 1   order_channel                      2770 non-null   object
 2   last_order_channel                 2770 non-null   object
 3   first_order_date                   2770 non-null   datetime64[ns]
 4   last_order_date                    2770 non-null   datetime64[ns]
 5   last_order_date_online             2770 non-null   datetime64[ns]
 6   last_order_date_offline            2770 non-null   datetime64[ns]
 7   order_num_total_ever_online        2770 non-null   float64
 8   order_num_total_ever_offline       2770 non-null   float64
 9   customer_value_total_ever_offline  2770 non-null   float64
 10  customer_value_total_ever_online   2770 non-null   float64
 11  interested_in_categories_12        2770 non-null   object
 12  total_order                        2770 non-null   float64
 13  total_value                        2770 non-null   float64
 14  recency                            2770 non-null   timedelta64[ns]
 15  frequency                          2770 non-null   float64
 16  monetary                           2770 non-null   float64
 17  segment                            2770 non-null   object
dtypes: datetime64[ns](4), float64(8), object(5), timedelta64[ns](1)
memory usage: 411.2+ KB

In [43]:
df_new["interested_in_categories_12"].unique()

array(['[COCUK]', '[AKTIFCOCUK, COCUK, KADIN]', '[ERKEK]',
       '[ERKEK, KADIN]', '[AKTIFCOCUK]',
       '[AKTIFCOCUK, COCUK, KADIN, AKTIFSPOR]', '[COCUK, KADIN]',
       '[ERKEK, COCUK, KADIN, AKTIFSPOR]',
       '[AKTIFCOCUK, ERKEK, COCUK, AKTIFSPOR]',
       '[AKTIFCOCUK, ERKEK, COCUK]', '[ERKEK, AKTIFSPOR]',
       '[ERKEK, COCUK, KADIN]', '[ERKEK, COCUK]',
       '[AKTIFCOCUK, ERKEK, AKTIFSPOR]', '[ERKEK, COCUK, AKTIFSPOR]',
       '[ERKEK, KADIN, AKTIFSPOR]', '[AKTIFCOCUK, COCUK, AKTIFSPOR]',
       '[AKTIFCOCUK, ERKEK, COCUK, KADIN]', '[COCUK, AKTIFSPOR]',
       '[AKTIFCOCUK, KADIN]', '[AKTIFCOCUK, COCUK]',
       '[COCUK, KADIN, AKTIFSPOR]', '[AKTIFCOCUK, KADIN, AKTIFSPOR]',
       '[AKTIFCOCUK, AKTIFSPOR]', '[AKTIFCOCUK, ERKEK]',
       '[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]',
       '[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]',
       '[AKTIFCOCUK, ERKEK, KADIN]'], dtype=object)

In [44]:
df_new.to_csv("DiscountTarget.csv")